/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    var-font-family: "FantasqueSansM Nerd Font Propo";
    var-font-size: "14";
    font: "FantasqueSansM Nerd Font Propo 14";
}
