* {
	/* border-radius: 20px; */
	/* border-top-left-radius: 0px; */
	/* border-top-right-radius: 0px; */
	/* border: none; */
	font-family: FiraCode Nerd Font Mono Med, Symbols Nerd Font,
		Material Symbols Outlined;
	font-weight: 500;
	font-size: 15px;
	min-height: 25px;
}

@define-color bg #282A36;
@define-color fg #F8F8F2;
@define-color active #FFB86C;
@define-color gr #545d70;
@define-color red #FF5555;
@define-color green #50FA7B;
@define-color blue #4b4e6f;
@define-color orange #FFB86C;
@define-color icon #BD93F9;
@define-color comment #6272A4;

@define-color background rgba(0, 0, 0, 0.0);
@define-color bg-module rgba(0, 0, 0, 0.7);
@define-color bg-tray rgba(0, 0, 0, 0.8);

@define-color foreground rgba(49, 163, 200, 1.0);
@define-color fg-module rgba(245, 250, 255, 1.0);
@define-color fg-alt rgba(0, 0, 0, 1.0);
@define-color fg-blink rgba(75, 230, 255, 1.0);
@define-color fg-persist rgba(135, 145, 165, 1.0);

@define-color border rgba(0, 175, 250, 1);
@define-color border-module rgba(60, 158, 224, 1.0);
@define-color border-alt rgba(2, 10, 20, 1.0);

@define-color separator rgba(56, 70, 84, 1.0);

/* window#waybar {
	background-color: @bg;
	color: #ffffff;
	transition-property: background-color;
	transition-duration: 0.5s;
} */

window#waybar {
	background: @background;
	border: 0px solid @border;
	border-radius: 10;
}

#workspaces {
	/* margin: 4px 5px 4px 5px; */
	/* border-radius: 6; */
}

/* #workspaces button {
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 20px;
} */

/* #workspaces button {
    margin: 0 1px;
    padding: 0 2px;
    color: @fg-module;
}

#workspaces button:hover {
	background-color: @active;
	color: @comment;
	transition: background-color 0.5s;
}

#workspaces button.active {
	background-color: @active;
	color: @comment;
	transition: background-color 0.5s;
}

#workspaces button.urgent {
	color: @red;
	transition: color 0.5s;
} */

#workspaces button:hover {
	background: transparent;
}

#workspaces button.focused {
	border-top: 2px solid transparent;
}

#workspaces button.active {
	color: @foreground;
}

#mode {
	background: #64727d;
	border-bottom: 3px solid white;
}

/* #tray {
	margin: 0 0 0 10px;
} */

#tray {
	background-color: @bg-tray;
}

@keyframes blink {
	to {
		color: @fg-blink;
	}
}

#custom-bandwidth,
#custom-notification,
#custom-update,
#custom-logo,
#window,
#custom-storage,
#network,
#wireplumber,
#battery,
#tray,
#backlight,
#workspaces,
#clock,
#custom-spotify,
#mode,
#pulseaudio,
#language,
#custom-colorpicker,
#system,
#custom-exit,
#custom-notification {
	padding: 2 10 2 8px;
	background-color: @bg-module;
	border-radius: 14px;
	border: 2px solid @border-module;
	color: @fg-module;
}

#bluetooth,
#memory,
#cpu {
	margin-left: 5px;
	margin-right: 5px;
}
#system {
}

#custom-notification {
	min-width: 20px;
	padding-left: 12px;
}

#custom-seperator {
	color: @separator;
}

/* #custom-colorpicker,
#bluetooth,
#pulseaudio,
#language,
#custom-exit,
#clock {} */

/* #custom-colorpicker,
#pulseaudio,
#language,
#clock,
#custom-exit {
	margin: 0 10px 0 0;
} */

/* #tools,
#system {
	color: @fg;
	background-color: @bg;
} */

/* #custom-sep {
	color: rgba(0, 0, 0, 0);
} */

/* #window {
	background-color: @bg;
	color: @icon;
	font-weight: bold;
	min-width: 100px;
} */
