* {
	border-radius: 20px;
	border: none;
	font-family: FiraCode Nerd Font Mono Med, Symbols Nerd Font,
		Material Symbols Outlined;
	font-weight: 500;
	font-size: 16px;
	padding: 0px 0px;
	margin: 0px 5px;
}

@define-color bg #282A36;
@define-color fg #F8F8F2;
@define-color active #6272A4;
@define-color gr #545d70;
@define-color red #FF5555;
@define-color green #50FA7B;
@define-color blue #4b4e6f;
@define-color icon #BD93F9;

window#waybar {
	background-color: rgba(43, 48, 59, 0);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: 0.5s;
}

#workspaces {
	color: @fg;
	background-color: @bg;
	padding: 4px 0px;
	margin: 0px 7px;
}
#workspaces button:hover {
	background-color: @active;
	transition: background-color 0.5s;
}
#workspaces button.active {
	background-color: @active;
	transition: background-color 0.5s;
}

#workspaces button.urgent {
	color: @red;
	transition: color 0.5s;
}

#tray,
#cava {
	padding: 0 10px;
	margin: 0 6px;
	background-color: @bg;
	color: @icon;
}

#custom-colorpicker,
#bluetooth,
#pulseaudio,
#language,
#custom-exit,
#clock {
	padding: 0 5px;
}

#language:hover {
	color: @active;
	transition: color 0.5s;
}

#tools,
#system {
	padding: 0 10px;
	margin: 0 6px;
	color: @fg;
	background-color: @bg;
}

#custom-sep {
	color: rgba(0, 0, 0, 0);
}

#window {
	background-color: @bg;
	color: @icon;
	padding: 0 10px;
	margin: 0 6px;
	font-weight: bold;
	min-width: 100px;
}
