# preload = ~/Pictures/background/devushka_siluet_planeta_1067694_1080x1920.jpg
# preload = ~/Pictures/background/devushka_siluet_planeta_1067694_2560x1440.jpg
preload = ~/Pictures/background/when-the-banshee-cries(1836x3264).png
preload = ~/Pictures/background/when-the-banshee-cries(5824x2430).png
wallpaper = DP-2, contain:~/Pictures/background/when-the-banshee-cries(5824x2430).png
# wallpaper = HDMI-A-1, ~/Pictures/background/when-the-banshee-cries(1836x3264).png
wallpaper = HDMI-A-1, ~/Pictures/background/when-the-banshee-cries(5824x2430).png
# wallpaper = DP-3, ~/Pictures/background/devushka_siluet_planeta_1067694_1080x1920.jpg
splash = false